{% extends "base.html" %}
{% load static %}

{% block carusel %}

<div id="carouselExampleCaptions" class="carousel carousel-dark slide ">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="{% static "img/carusel/solyanka.jpg" %}" class="d-block w-100" alt="">
        <div class="carousel-caption d-none d-md-block ;">
          <div class="text-start fw-bold text-white-shadow">
            <h1>Сборная мясная coлянкa</h1>
            <h2>Способ приготовления:</h2>
            <h3>1. Приготовление бульона</h3>
            <ol>
              <li>В кастрюлю выложить свиные рёбра, говядину, очищенный лук, морковь и лавровый лист.</li>
              <li>Залить кипятком, довести до кипения, снять пену.</li>
              <li>Варить на маленьком огне 1,5 часа.</li>
              <li>Процедить бульон, мясо отложить, овощи выбросить.</li>
              <li>Вернуть бульон в кастрюлю, поставить на слабый огонь.</li>
            </ol>

            <h3>2. Приготовление зажарки</h3>
            <ol>
              <li>Нарезать бекон средними кубиками.</li>
              <li>Очистить и мелко нарезать вторую луковицу.</li>
              <li>Разогреть сковороду, обжарить бекон до вытопления жира.</li>
              <li>Добавить лук, обжарить 3-5 минут.</li>
              <li>Огурцы нарезать полосками, добавить в сковороду, тушить 1 минуту.</li>
              <li>Вмешать томатную пасту и тушить ещё 5 минут.</li>
            </ol>

            <h3>3. Сборка солянки</h3>
            <ol>
              <li>Остывшее мясо снять с кости, нарезать.</li>
              <li>Нарезать копчёные колбасные изделия и ветчину.</li>
              <li>Выложить в кастрюлю мясо, колбасу и зажарку.</li>
              <li>Добавить соль, перец, перемешать.</li>
              <li>Довести до кипения, варить 20 минут.</li>
              <li>Всыпать оливки и маслины, проварить ещё 5 минут.</li>
              <li>Выключить огонь, накрыть крышкой и дать настояться 10-15 минут.</li>
            </ol>

            <h3>4. Подача</h3>
            <p>Разлить по тарелкам, добавить ломтик лимона и свежую зелень.</p>

            <p><strong>Приятного аппетита! 🍲</strong></p>.
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "img/carusel/kot.jpg" %} " class="d-block w-100" alt="">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-start fw-bold text-white-shadow">
            <h1>Котлеты по-деревенски</h1>
            <h3>Подготовка продуктов</h3>
            <p>Для вкусных котлет лучше всего взять смешанный фарш: свинину, говядину/телятину и птицу в равных
              частях.</p>
            <p>Мясо нарезать кусочками. Лук репчатый очистить, разрезать на 4 части. Пропустить мясо и лук через
              мясорубку. (Лук можно мелко нарезать и добавить в фарш.)</p>

            <h3>Приготовление фарша</h3>
            <p>Яйцо взбить со сметаной вилкой или венчиком.</p>
            <p>Картофель и чеснок (по желанию) очистить, натереть на мелкой терке.</p>
            <p>Все ингредиенты - мясной фарш с луком, картофель с чесноком, яйцо со сметаной и муку - выложить в
              миску. Посолить и поперчить.</p>
            <p>Всё тщательно перемешать.</p>

            <h3>Формирование и жарка котлет</h3>
            <p>Из приготовленного фарша сформовать котлеты.</p>
            <p>Хорошо разогреть сковороду, налить масло. Выложить котлеты в раскалённое масло.</p>
            <p>Котлеты жарить сперва с одной стороны до румяной корочки минут 5-6 (огонь немного уменьшить). Затем
              перевернуть котлеты и жарить с другой стороны на среднем огне еще несколько минут. При желании котлеты
              можно довести до готовности под крышкой пару минут.</p>

            <h3>Подача</h3>
            <p>Домашние котлеты готовы. К котлетам вкусно подать картофельное пюре или гречневую кашу.</p>

            <p><strong>Приятного аппетита!</strong></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "img/carusel/belushi.jpg" %} " class="d-block w-100" alt="">
        <div class="carousel-caption d-none d-md-block">
          <div class="text-start fw-bold text-white-shadow">
            <h1>Домашние беляши</h1>
            <h2>Приготовление теста</h2>
            <p>В ведерко хлебопечки налить теплую воду, добавить растительное масло, всыпать сперва 500 г муки,
              соль, сахар и дрожжи. (Если нужно, чтобы тесто получилось особенно пышным, кроме дрожжей можно
              подсыпать также немного разрыхлителя в муку.)</p>
            <p>Поставить ведерко в хлебопечку и запустить ее в режиме "подъем теста без выпекания". Не торопиться
              закрывать крышку.</p>
            <p>Тесто не будет густым, и вполне можно добавить еще муки. В процессе вымешивания из теста должен
              образоваться шар.</p>

            <h2>Приготовление начинки</h2>
            <p>Фарш для беляшей можно приготовить из любого мяса. Мясо желательно пропускать через мясорубку с
              крупной решеткой, а лук мелко нарезать. Солить фарш лучше непосредственно перед приготовлением
              беляшей.</p>

            <h2>Формирование беляшей</h2>
            <p>На посыпанной мукой поверхности разделить тесто на нужные по размеру части для беляшей, дать им
              полежать несколько минут.</p>
            <p>Затем сделать в каждом кусочке теста углубление. Выложить туда начинку, чуть примять и закрепить
              края, завернув их к середине, оставить в середине небольшое отверстие.</p>

            <h2>Жарка беляшей</h2>
            <p>Выкладывать каждый пирожок отверстием вниз на сковороду в сильно разогретое растительное масло.</p>
            <p>Переворачивать на другую сторону по мере румяности.</p>

            <h2>Подача</h2>
            <p><strong>Приятного аппетита!</strong></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% endblock %}