body {
  font-family: Figtree;
  background-image: url(img/home/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


header {
  margin-bottom: 2rem;
}

main {
  background-size: cover;
  padding: 2rem 0;
}

section {
  margin-bottom: 2rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.home {
  color: #000000;
  backdrop-filter: sepia(90%); 
  padding: 2rem;
  margin-top: 50px;
  border-radius: 50px;
}

.recept{
  color: #020202;
  background: rgba(253, 253, 253, 0.566);
  padding: 2rem;
  margin-top: 50px;
  border-radius: 50px;
 
}
