body {
  font-family: Figtree;
  background-image: url(img/home/home.jpg);
}


header {
  margin-bottom: 2rem;
  --bs-tertiary-bg: #198754;
}

main {
  background-size: cover;
  padding: 2rem 0;
}

section {
  margin-bottom: 2rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.home {
  color: #000000;
  background: rgba(255, 255, 255, 0.60);
  padding: 2rem;
  margin-top: 50px;
  border-radius: 50px;
  background-size: cover;
}

.recept{
  color: #020202;
  background: rgba(253, 253, 253, 0.566);
  padding: 2rem;
  margin-top: 50px;
  border-radius: 50px;
  --bs-body-bg: transparent;
}

.recept_card {
  color: #000000;
  --bs-body-bg: transparent;
}

.menu {
  color: #000000;
  background: rgba(253, 253, 253, 0.378);
  padding: 2rem;
  margin-top: 50px;
  border-radius: 50px;
  --bs-list-group-bg: #fffbe600; 
  --bs-list-group-border-color: #050505; 
}