{% extends 'templates/base.html' %}
{% load static %}

{% block content %}

<section class="home mb-5 pt-5">
    <h1>Добро пожаловать в "Семейное меню"!</h1>
    <h2>Возможности:</h2>
    <ul>
      <li>Составление меню на неделю.</li>
      <li>Хранение и добавление рецептов.</li>
      <li>Автоматическое формирование списка покупок.</li>
      <li>Доступ с любого устройства.</li>
    </ul>

    <h2>Раздел "Рецепты"</h2>
    <p>Ищите вдохновение для семейных ужинов! В этом разделе вы найдете
      сотни проверенных рецептов, которые легко приготовить дома. Выбирайте
      по категориям, времени приготовления или набору продуктов.</p>

    <h2>Раздел "Меню на неделю"</h2>
    <p>Составьте план питания на всю неделю! Планирование питания – залог
      здорового образа жизни и экономии времени.</p>

    <h2>Раздел "Список покупок"</h2>
    <p>Все ингредиенты из выбранных вами рецептов автоматически добавляются
      в список покупок. Вы можете редактировать его, добавлять или удалять
      позиции, а также отмечать купленные продукты.</p>

  <section>
{% endblock %}