{% extends 'templates/base.html' %}
{% load static %}

{% block content %}

<section class="home mt-5 pt-5" >
    <h1 class="display-1  ">Вам нужно накормить семью?</h1>
    <h2 class="h2">Мы поможем Вам составить меню и список необходимых продуктов.</h2>
    </section>

    <figure class="text-end home">
        <blockquote class="blockquote">
          <p>И помни тебя ждут дома "Че купил" и "Че пожрать" </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Народная мудрость <cite title="Source Title">Источник интернет</cite>
        </figcaption>
      </figure>
   
{% endblock %}
