{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">{{content}}</h2>
    <div class="row justify-content-center">
        <ul class="list-group col-md-6 menu">
            {% for day, recipe in menu_by_day.items %}
                <li class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-center ">
                    <strong>{{ day }}</strong>
                    <span>
                        {% if recipe %}
                            {{ recipe.title }}
                        {% else %}
                            Нет блюда
                        {% endif %}
                    </span>
                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="day" value="{{ day }}">
                            <select name="recipe_id" class="form-select d-inline-block w-auto">
                                {% for recipe in all_recipes %}
                                    <option value="{{ recipe.id }}">{{ recipe.title }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" name="action" value="add" class="btn btn-success btn-sm">➕</button>
                            <button type="submit" name="action" value="remove" class="btn btn-danger btn-sm">❌</button>
                        </form>
                    </div>
                </li>
            {% endfor %}

            <li class="list-group-item text-center">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="action" value="random_all" class="btn btn-warning">🎲 Заполнить случайно</button>
                </form>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
