{% extends "base.html" %}

{% block shopping_list %}
<div class="container mt-4">
    <h2 class="mb-4">{{content}}</h2>
    {% if shopping_list %}
        <ul class="list-group">
            {% for name, quantity in shopping_list.items %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>{{ name }}</span>
                    <span class="badge bg-primary">{{ quantity }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">Вы еще не выбрали блюда для меню.</p>
    {% endif %}
</div>
{% endblock %}
